body
{
	background:#9ACD32;
}
a
{
	text-decoration:none;
	color:black;
	font-size:20px;
}
.friendlist 
{
	float:left;
	background:#9ACD32;
	width:20%;
	height:90%;
	margin-top:15px;
}
.friendform
{
	float:left;
	background:white;
	border-radius:0px;
	height:30px;
	padding:5px 20px;
}
.searchform
{
	background:white;
	border-radius:0px;
	height:30px;
	padding:5px 20px;
}
.searchtxt
{
	float:left;
	width:150px;
	line-height:30px;
	border:none;
	background:none;
	outline:none;
	color:black;
	transition:0.4s;
}
.searchbtn
{
	float:right;
	width:40px;
	height:30px;
	border-radius:0px;
	background:white;
	color:#e84118;
	transition: 0.4s;
	font-weight:bold;
}
.friendrefresh
{
	float:right;
}
.friendrefresh a img
{
	transform:translate(0,-7px);
}
.chat
{
	float:left;
	background:#9ACD32;
	width:55%;
	height:90%;
	margin-left:30px;
	margin-top:15px;
}
.chatcontent
{
	height:90%;
	border:1px solid black;
	overflow:auto;
	background:#CCFF00;
	border-radius:20px;
}
.chatform
{
	height:10%;
	line-height:80px;
}
.chattxt
{
	height:40px;
	width:90%;
	border:none;
	border-radius:10px;
	text-indent:10px;
	color:white;
	background:black;
}
.chatbtn
{
	width:50px;
	height:50px;
	border-radius:50px;
	border:none;
	color:white;
	background:black;
}
/*聊天內容*/
.message
{
	font-size:20px;
	margin:20px;
}
.name
{
	
}
.right
{
	float:right;
}
.search
{
	float:right;
	background:#9ACD32;
	width:20%;
	height:90%;
	margin-right:10px;
	margin-top:15px;
}
.searchlist
{
	height:95%;
	border:none;
	border-radius:10px;
	background:#FFFF99;
	margin-top:10px;
}
